@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --whiteColor: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background: url(../src/imgs/bg.jpg) no-repeat center center / cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 45rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.6rem;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

.error {
  color: rgb(238 85 85);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}